<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>
    <target name="InfoFile" xsi:type="File" fileName="Logs\Info.log" />
    <target name="ErrorFile" xsi:type="File" fileName="Logs\Error.log" />
  </targets>

  <rules>
    <logger name="*" minlevel="Info" maxlevel="Warn" writeTo="InfoFile" />
    <logger name="*" minlevel="Error" writeTo="ErrorFile" />
  </rules>
</nlog>